rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}


.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
}

      .node circle {
        cursor: pointer;
        fill: #fff;
        stroke: #B4083A;
        stroke-width: 1.5px;
      }

      .node text {
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
      }

      path.link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
      }